.result{
    display: flex;
    background-color: cyan;
    width: 100%;
    height:15%;
}
.first-number{
    display: flex;
    flex-wrap: wrap;
    background-color: darkorange;
    width: 100%;
    height: 90px;
}
.second-number{
    display: flex;
    flex-wrap: wrap;
    background-color: deepskyblue;
    width: 100%;
    height: 15%;
}
.addition{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: gold;
    width: 50%;
    height: 10%;
}
.subtraction{
    background-color:lightcoral;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 10%;
}
.multiplication{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lime;
    width: 50%;
    height: 10%;
}
.division{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: mediumorchid;
    width: 50%;
    height: 10%;
}